<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn to Live, Feeling Pink</h1>
    <br />
    <h2>Courses by formerly pickly beings.</h2>
    <br />
    <%= link_to 'Explore', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>The Daily Ritual</h3>
    <br />
    <p>Streamline your morning and evening flow</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Be Silly</h3>
    <br />
    <p>Fun isn't just for children, goof-off-often</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Smile, say 'Hello'</h3>
    <br />
    <p>Outward positive behavior sparks inner joy</p>
  </div>
</div>