 <div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Stay Open</h1>
    <br />
    <h2>Spark Curiosity</h2>
    <br />
    <%= link_to 'Explore', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>For the Mind</h3>
    <br />
    <p>Psychology, Cognition and Neuroscience</p>
  </div>

  <div class="col-12 col-sm">
    <h3>For the Body</h3>
    <br />
    <p>Homeopathy, Wellness and Activity</p>
  </div>

  <div class="col-12 col-sm">
    <h3>For the Soul</h3>
    <br />
    <p>Culture, Creativity and Community</p>
  </div>
</div>