html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: rgba(36, 115, 57, 0.8);
  color: white;
  font-weight: 100;
  font-family: 'IM Fell English', serif;
  padding: 10px 0px;
  margin-top: 30px;
}

#footer a {
  color: white;
}

