@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English:400,400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon:400,400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap');

body {
  font-family: 'IM Fell French Canon', serif;
  background: white;
}

.navbar {
  font-family: 'Playfair Display', serif;
  box-shadow: 0px 1px 3px #CBC9C8;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 600;
  letter-spacing: 5px;
}

.navbar-light a.navbar-brand {
  font-family: 'IM Fell English SC', serif;
  font-size: 30px;
  color: black;
  letter-spacing: 15px;
  padding: 0;
}

.hero {
  background: image_url('gene-devine-ahxNfsInPVM-unsplash.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 1px 3px #CBC9C8;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(66, 42, 23, 0.6);
}

.frosty h1 {
  font-family: 'IM Fell English', serif;
  font-weight: 100;
  letter-spacing: 3px;
  text-shadow: rgba(175, 157, 177, 0.9) 1px 1px;
  color: white;
}

.frosty h2 {
  font-family: 'IM Fell English', serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-shadow: rgba(175, 157, 177, 0.9) 1px 1px;
  color: white;
}

h3 {
  font-weight: 100;
}

.btn {
  border-radius: 0;
  font-family: 'IM Fell English', serif;
  font-weight: 100;
  letter-spacing: 3px;
  background-color: #d4d179;
  border-color: #d4d179;
  color: black;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.booyah-box h1 {
  font-weight: 100;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

form, a {
  color: black;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 2px;
}

form, h2 {
  font-weight: 200;
  letter-spacing: 2px;
}

.form-check {
  padding-left: 20px;
}

input.btn.btn-btn-primary {
  border: solid;
  border-width: 1px;
  border-color: black;
}

.invalid-feedback {
  color: white;
  background-color: #A3A4AB;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 130px;
}

.lesson a {
  color: white;
  font-size: 15px;
}

.lesson a b {
  font-size: 25px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}


.badge {
  border-radius: 0;
  font-weight: 300;
  padding: 4px;
  letter-spacing: 2px;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
}

ul .header {
  font-size: 25px;
}

ul .header .fa {
  font-size: 20px;
}

.lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}

.social-button {
  margin: 4px;
}

.social a:hover {
  text-decoration: none;
}

h2 a {
  font-size: 24px;
}



