@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background: image_url('linen.png');
}

.navbar {
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 0px 1px 3px #CBC9C8;
  background: image_url('kuji.png');
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 600;
  letter-spacing: 5px;
}

.navbar-light a.navbar-brand {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 300;
  font-size: 35px;
  letter-spacing: 4px;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 1px 3px #CBC9C8;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(203, 200, 203, 0.5);
}

.frosty h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 3px;
  text-shadow: rgba(175, 157, 177, 0.9) 1px 1px;
  color: white;
}

.frosty h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-shadow: rgba(175, 157, 177, 0.9) 1px 1px;
  color: white;
}

h3 {
  font-weight: 100;
}

.btn {
  border-radius: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 3px;
}

.btn-success {
  background-color: #AA9BA7;
  border-color: #AA9BA7;
}

.btn-primary {
  background-color: #AA9BA7;
  border-color: #AA9BA7;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

p.alert-danger {
  background-color: #F0CEE9;
  border-color: #F0CEE9;
  color: #A29CA1;
}

p.alert-info {
  background-color: #A29CA1;
  border-color: #A29CA1;
  color: white;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.booyah-box h1 {
  font-weight: 100;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

form, a {
  color: black;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 2px;
}

form, h2 {
  font-weight: 200;
  letter-spacing: 2px;
}

.form-check {
  padding-left: 20px;
}

input.btn.btn-btn-primary {
  border: solid;
  border-width: 1px;
  border-color: #BEA0B7;
}

.invalid-feedback {
  color: white;
  background-color: #A29CA1;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.btn-danger {
  background-color: #F0CEE9;
  border-color: #F0CEE9;
}



